.roll {
    border: solid;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-color: black;
}

.blue {
    background-color: blue;
}

.purple{
    background-color: purple;
}

.gold{
    background-color: gold;
    background-image: url('../assets/yelan.png');
    background-size: cover;
    background-position: center;
    /* the image should only be shown if 5050 won or guarentee, make into own class */
}

img{
    height: 50vw;
    width: 50vw;
}